.ask {
  background-color: #fad;
  padding: 2px;
  border-radius: 2px;
  font-family: Consolas, monospace;
  outline: 1px solid rgba(128, 128, 128, 0.5);
}

.get {
  background-color: #acf;
  padding: 3px;
  border-radius: 2px;
  font-family: Consolas, monospace;
  outline: 1px solid rgba(128, 128, 128, 0.5);
}

.set {
  background-color: #afc;
  padding: 2px;
  border-radius: 3px;
  font-family: Consolas, monospace;
  outline: 1px solid rgba(128, 128, 128, 0.5);
}

.search {
  background-color: #eee;
  padding: 2px;
  font-family: Consolas, monospace;
  border-radius: 2px;
  outline: 1px solid rgba(128, 128, 128, 0.5);
}

.container {
  border: 1px solid #aaa;
  padding: 10px;
}

.story {
  white-space: pre-wrap;
  word-wrap: break-word;
}



.story-def {
  font-family: inherit;
  font-size: inherit;
  display: flex;
  min-height: 400px;
  padding: 10px;
}

.story-def-container {
  display: flex;
  flex-direction: column;
}

.locals {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 5px;
  gap: 5px;
}