.ask {
  background-color: #fad;
  padding: 3px;
  margin: -3px 0;
  border-radius: 3px;
}
.get {
  background-color: #acf;
  padding: 3px;
  margin: -3px 0;
  border-radius: 3px;
}
.set {
  background-color: #afc;
  padding: 3px;
  margin: -3px 0;
  border-radius: 3px;
}

.container {
  border: 1px solid #aaa;
  padding: 10px;
  margin: 5px;
}

.story {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
